IoTSimulation/flows.json
[
    {
        "id": "bbbeb38bf0287061",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21f3eb3bd387eabf",
        "type": "inject",
        "z": "bbbeb38bf0287061",
        "name": "► BAŞLAT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "filename",
                "v": "C:/Users/emreg/Downloads/VEG-01C_EDA_Telemetry_data.csv",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 60,
        "y": 520,
        "wires": [
            [
                "df8a85505cf9fe7b"
            ]
        ]
    },
    {
        "id": "df8a85505cf9fe7b",
        "type": "file in",
        "z": "bbbeb38bf0287061",
        "name": "NASA DataSetini Oku",
        "filename": "C:/Users/emreg/Downloads/VEG-01C_EDA_Telemetry_data.csv",
        "filenameType": "msg",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 520,
        "wires": [
            [
                "1afe1c99b045202c"
            ]
        ]
    },
    {
        "id": "1afe1c99b045202c",
        "type": "csv",
        "z": "bbbeb38bf0287061",
        "name": "CSV Ayrıştır",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "3e5c1a6c5f268514"
            ]
        ]
    },
    {
        "id": "3e5c1a6c5f268514",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Boşlukları Temizle",
        "func": "let temp = msg.payload.Temp_degC_ISS;\nif (temp && !isNaN(temp) && temp !== \"\") {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "8b135723d3a97223"
            ]
        ]
    },
    {
        "id": "8b135723d3a97223",
        "type": "delay",
        "z": "bbbeb38bf0287061",
        "name": "Saniyede 2 Veri",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 520,
        "wires": [
            [
                "d9339cbb42377c4e",
                "a4aa062568b2fbf1",
                "35a62a0d275fb463"
            ]
        ]
    },
    {
        "id": "d9339cbb42377c4e",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Sıcaklık Grafiğe",
        "func": "return { payload: Number(msg.payload.Temp_degC_ISS) };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "619da61c20e0907d",
                "c76cd961f9342d9d"
            ]
        ]
    },
    {
        "id": "a4aa062568b2fbf1",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Nem Grafiğe",
        "func": "return { payload: Number(msg.payload.RH_percent_ISS) };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "34d1e709dad5e975",
                "1bfd0f9a24f87259"
            ]
        ]
    },
    {
        "id": "619da61c20e0907d",
        "type": "ui_gauge",
        "z": "bbbeb38bf0287061",
        "name": "Sıcaklık (°C)",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ISS Sıcaklık",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "28",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "23",
        "seg2": "24.5",
        "className": "",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "c76cd961f9342d9d",
        "type": "ui_chart",
        "z": "bbbeb38bf0287061",
        "name": "Sıcaklık Trendi",
        "group": "group1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Sıcaklık Trendi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "22",
        "ymax": "26",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "addon_logic"
            ]
        ]
    },
    {
        "id": "34d1e709dad5e975",
        "type": "ui_gauge",
        "z": "bbbeb38bf0287061",
        "name": "Nem (%)",
        "group": "group1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ISS Nem",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "60",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "38",
        "seg2": "45",
        "className": "",
        "x": 1270,
        "y": 520,
        "wires": []
    },
    {
        "id": "1bfd0f9a24f87259",
        "type": "ui_chart",
        "z": "bbbeb38bf0287061",
        "name": "Nem Trendi",
        "group": "group1",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Nem Trendi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "addon_logic"
            ]
        ]
    },
    {
        "id": "35a62a0d275fb463",
        "type": "switch",
        "z": "bbbeb38bf0287061",
        "name": "> 23.4°C Kontrol",
        "property": "payload.Temp_degC_ISS",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "23.4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1080,
        "y": 620,
        "wires": [
            [
                "abe535667a7013d9"
            ]
        ]
    },
    {
        "id": "abe535667a7013d9",
        "type": "delay",
        "z": "bbbeb38bf0287061",
        "name": "Spam Engelleyici",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "96da0619900b5074"
            ]
        ]
    },
    {
        "id": "96da0619900b5074",
        "type": "change",
        "z": "bbbeb38bf0287061",
        "name": "Uyarı Mesajı",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ KRİTİK UYARI: Kabin Sıcaklığı 23.4°C'yi aştı! Otomatik soğutma fanları devrede.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 620,
        "wires": [
            [
                "4ed38dc00f1e158a"
            ]
        ]
    },
    {
        "id": "4ed38dc00f1e158a",
        "type": "ui_toast",
        "z": "bbbeb38bf0287061",
        "position": "top right",
        "displayTime": "6",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "Kapat",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Ekranda Göster",
        "x": 1680,
        "y": 620,
        "wires": []
    },
    {
        "id": "addon_logic",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "pH & EC Simüle Et + Karar",
        "func": "// Eski sıcaklık verisini alıyoruz (Yoksa 23 varsayıyoruz)\nlet temp = msg.payload.Temp_degC_ISS || 23.0;\n\n// 3 bitki için ortak yaşam (Sweet Spot) pH ve EC simülasyonu\nlet current_pH = (5.8 + (Math.random() * 0.4 - 0.2)).toFixed(2);\nlet current_EC = (1.5 + (Math.random() * 0.3 - 0.15)).toFixed(2);\n\nlet status = \"✅ OPTİMAL: 3'lü Ekosistem Stabil\";\nlet color = \"#00ff00\";\n\nif (current_EC < 1.4) {\n    status = \"⚠️ MİNERAL DÜŞÜK: EC Pompası Devrede\";\n    color = \"#ffaa00\";\n} else if (current_pH > 6.0) {\n    status = \"⚠️ pH YÜKSEK: Asit Dozajı Yapılıyor\";\n    color = \"#ff0000\";\n} else if (temp > 23.4) {\n    status = \"⚠️ SICAKLIK KRİTİK: Fanlar Açık\";\n    color = \"#ff0000\";\n}\n\n// Tüm verileri tek bir pakette birleştir (Web sitesi için)\nmsg.payload.pH_Level = Number(current_pH);\nmsg.payload.EC_Level = Number(current_EC);\nmsg.payload.SystemStatus = status;\nmsg.color = color;\n\n// 1. Çıkış: WebSocket (Tüm veriler)\n// 2. Çıkış: pH Göstergesi\n// 3. Çıkış: EC Göstergesi\n// 4. Çıkış: Durum Metni\nreturn [\n    msg, \n    {payload: msg.payload.pH_Level}, \n    {payload: msg.payload.EC_Level}, \n    {payload: status, color: color}\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 360,
        "wires": [
            [
                "ws_out"
            ],
            [
                "gauge_ph"
            ],
            [
                "gauge_ec"
            ],
            [
                "text_status"
            ]
        ]
    },
    {
        "id": "ws_out",
        "type": "websocket out",
        "z": "bbbeb38bf0287061",
        "name": "Web Sitesine Gönder",
        "server": "ws_config",
        "client": "",
        "x": 1800,
        "y": 280,
        "wires": []
    },
    {
        "id": "gauge_ph",
        "type": "ui_gauge",
        "z": "bbbeb38bf0287061",
        "name": "pH Seviyesi",
        "group": "group1",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "🧪 pH Seviyesi",
        "label": "pH",
        "format": "{{value}}",
        "min": "4",
        "max": "8",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5.5",
        "seg2": "6.2",
        "x": 1770,
        "y": 340,
        "wires": []
    },
    {
        "id": "gauge_ec",
        "type": "ui_gauge",
        "z": "bbbeb38bf0287061",
        "name": "Mineral (EC)",
        "group": "group1",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "⚡ Mineral (EC)",
        "label": "mS/cm",
        "format": "{{value}}",
        "min": "0",
        "max": "3",
        "colors": [
            "#ffaa00",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "1.2",
        "seg2": "2.0",
        "x": 1770,
        "y": 400,
        "wires": []
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "z": "bbbeb38bf0287061",
        "group": "group1",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Durum Panosu",
        "label": "Sistem Durumu:",
        "format": "<div style='color:{{msg.color}}; font-weight:bold; font-size:1.2em;'>{{msg.payload}}</div>",
        "x": 1780,
        "y": 460,
        "wires": []
    },
    {
        "id": "trigger_loop",
        "type": "inject",
        "z": "bbbeb38bf0287061",
        "name": "Saniyede 1 Kontrol",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 500,
        "y": 760,
        "wires": [
            [
                "get_sensors"
            ]
        ]
    },
    {
        "id": "get_sensors",
        "type": "http request",
        "z": "bbbeb38bf0287061",
        "name": "Python API Oku",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/sensors",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 760,
        "wires": [
            [
                "autonomous_logic"
            ]
        ]
    },
    {
        "id": "autonomous_logic",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Otonom Karar Zekası",
        "func": "let env = msg.payload;\nlet commands = [];\n\n// Kural 1: Kabin Nemi %60'ı geçerse Nem Toplayıcıyı (Dehumidifier) aç\nif (env.chamber_humidity > 60.0) {\n    commands.push({ payload: { \"device\": \"dehumidifier\", \"action\": true } });\n} else if (env.chamber_humidity < 50.0) {\n    commands.push({ payload: { \"device\": \"dehumidifier\", \"action\": false } });\n}\n\n// Kural 2: Sıcaklık artarsa Fanı aç\nif (env.chamber_temperature > 24.5) {\n    commands.push({ payload: { \"device\": \"ventilation_fan\", \"action\": true } });\n} else if (env.chamber_temperature < 23.5) {\n    commands.push({ payload: { \"device\": \"ventilation_fan\", \"action\": false } });\n}\n\n// KURAL 3: OTONOM NPK GÜBRELEME SİSTEMİ\n// Sensörler minerallerden herhangi birinin kritik seviyenin altına düştüğünü ölçerse gübre pompasını AÇ!\nif (env.mineral_n < 50 || env.mineral_p < 25 || env.mineral_k < 60) {\n    commands.push({ payload: { \"device\": \"npk_doser\", \"action\": true } });\n} \n// Mineraller doygunluk noktasına ulaşırsa (fazla gübre zehirler ve israftır) pompayı KAPAT!\nelse if (env.mineral_n > 110 && env.mineral_p > 50 && env.mineral_k > 120) {\n    commands.push({ payload: { \"device\": \"npk_doser\", \"action\": false } });\n}\n\nreturn [commands];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 760,
        "wires": [
            [
                "post_command"
            ]
        ]
    },
    {
        "id": "post_command",
        "type": "http request",
        "z": "bbbeb38bf0287061",
        "name": "Cihazları Tetikle",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/device",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "ISS Ortam Değerleri",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ws_config",
        "type": "websocket-listener",
        "path": "/uzay-verisi",
        "wholemsg": "false"
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Uzay Tarımı Paneli",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d08f4359c9d4214",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]