IoTSimulation/flows.json
[
    {
        "id": "trigger_loop",
        "type": "inject",
        "z": "bbbeb38bf0287061",
        "name": "Saniyede 1 Kontrol",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "get_sensors"
            ]
        ]
    },
    {
        "id": "get_sensors",
        "type": "http request",
        "z": "bbbeb38bf0287061",
        "name": "Python API Oku",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/sensors",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "autonomous_logic"
            ]
        ]
    },
    {
        "id": "autonomous_logic",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Otonom İklim Zekası",
        "func": "let env = msg.payload;\nlet commands = [];\n\n// Kural 1: Kabin Nemi %60'ı geçerse Nem Toplayıcıyı (Dehumidifier) aç\nif (env.chamber_humidity > 60.0) {\n    commands.push({ payload: { \"device\": \"dehumidifier\", \"action\": true } });\n} else if (env.chamber_humidity < 50.0) {\n    commands.push({ payload: { \"device\": \"dehumidifier\", \"action\": false } });\n}\n\n// Kural 2: Sıcaklık artarsa Fanı aç\nif (env.chamber_temperature > 24.5) {\n    commands.push({ payload: { \"device\": \"ventilation_fan\", \"action\": true } });\n} else if (env.chamber_temperature < 23.5) {\n    commands.push({ payload: { \"device\": \"ventilation_fan\", \"action\": false } });\n}\n\nreturn [commands];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "post_command"
            ]
        ]
    },
    {
        "id": "post_command",
        "type": "http request",
        "z": "bbbeb38bf0287061",
        "name": "Cihazları Tetikle",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/device",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 860,
        "y": 200,
        "wires": [
            []
        ]
    }
]