IoTSimulation/flows (1).json
[
    {
        "id": "bbbeb38bf0287061",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21f3eb3bd387eabf",
        "type": "inject",
        "z": "bbbeb38bf0287061",
        "name": "► BAŞLAT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "filename",
                "v": "C:/Users/emreg/Downloads/VEG-01C_EDA_Telemetry_data.csv",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "df8a85505cf9fe7b"
            ]
        ]
    },
    {
        "id": "df8a85505cf9fe7b",
        "type": "file in",
        "z": "bbbeb38bf0287061",
        "name": "NASA DataSetini Oku",
        "filename": "C:/Users/emreg/Downloads/VEG-01C_EDA_Telemetry_data.csv",
        "filenameType": "msg",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "1afe1c99b045202c"
            ]
        ]
    },
    {
        "id": "1afe1c99b045202c",
        "type": "csv",
        "z": "bbbeb38bf0287061",
        "name": "CSV Ayrıştır",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "3e5c1a6c5f268514"
            ]
        ]
    },
    {
        "id": "3e5c1a6c5f268514",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Boşlukları Temizle",
        "func": "let temp = msg.payload.Temp_degC_ISS;\nif (temp && !isNaN(temp) && temp !== \"\") {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "8b135723d3a97223"
            ]
        ]
    },
    {
        "id": "8b135723d3a97223",
        "type": "delay",
        "z": "bbbeb38bf0287061",
        "name": "Saniyede 2 Veri",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 980,
        "y": 500,
        "wires": [
            [
                "d9339cbb42377c4e",
                "a4aa062568b2fbf1",
                "35a62a0d275fb463"
            ]
        ]
    },
    {
        "id": "d9339cbb42377c4e",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Sıcaklık Grafiğe",
        "func": "return { payload: Number(msg.payload.Temp_degC_ISS) };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 440,
        "wires": [
            [
                "619da61c20e0907d",
                "c76cd961f9342d9d"
            ]
        ]
    },
    {
        "id": "a4aa062568b2fbf1",
        "type": "function",
        "z": "bbbeb38bf0287061",
        "name": "Nem Grafiğe",
        "func": "return { payload: Number(msg.payload.RH_percent_ISS) };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "34d1e709dad5e975",
                "1bfd0f9a24f87259"
            ]
        ]
    },
    {
        "id": "619da61c20e0907d",
        "type": "ui_gauge",
        "z": "bbbeb38bf0287061",
        "name": "Sıcaklık (°C)",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ISS Sıcaklık",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "28",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "23",
        "seg2": "24.5",
        "className": "",
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "c76cd961f9342d9d",
        "type": "ui_chart",
        "z": "bbbeb38bf0287061",
        "name": "Sıcaklık Trendi",
        "group": "group1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Sıcaklık Trendi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "22",
        "ymax": "26",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1420,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "34d1e709dad5e975",
        "type": "ui_gauge",
        "z": "bbbeb38bf0287061",
        "name": "Nem (%)",
        "group": "group1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ISS Nem",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "60",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "38",
        "seg2": "45",
        "className": "",
        "x": 1390,
        "y": 500,
        "wires": []
    },
    {
        "id": "1bfd0f9a24f87259",
        "type": "ui_chart",
        "z": "bbbeb38bf0287061",
        "name": "Nem Trendi",
        "group": "group1",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Nem Trendi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "35a62a0d275fb463",
        "type": "switch",
        "z": "bbbeb38bf0287061",
        "name": "> 23.4°C Kontrol",
        "property": "payload.Temp_degC_ISS",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "23.4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 600,
        "wires": [
            [
                "abe535667a7013d9"
            ]
        ]
    },
    {
        "id": "abe535667a7013d9",
        "type": "delay",
        "z": "bbbeb38bf0287061",
        "name": "Spam Engelleyici",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1410,
        "y": 600,
        "wires": [
            [
                "96da0619900b5074"
            ]
        ]
    },
    {
        "id": "96da0619900b5074",
        "type": "change",
        "z": "bbbeb38bf0287061",
        "name": "Uyarı Mesajı",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ KRİTİK UYARI: Kabin Sıcaklığı 23.4°C'yi aştı! Otomatik soğutma fanları devrede.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 600,
        "wires": [
            [
                "4ed38dc00f1e158a"
            ]
        ]
    },
    {
        "id": "4ed38dc00f1e158a",
        "type": "ui_toast",
        "z": "bbbeb38bf0287061",
        "position": "top right",
        "displayTime": "6",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "Kapat",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Ekranda Göster",
        "x": 1800,
        "y": 600,
        "wires": []
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "ISS Ortam Değerleri",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Uzay Tarımı Paneli",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50d1ee3b35000bcb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]